.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .5);
}

.link {
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: .9rem;
    border-radius: .5rem;
    transition: background .5s;
}

.link:hover {
    background: rgba(0, 0, 0, .5);
}
